// MEDIA SIZE
@SCREEN_MM: 360;
@SCREEN_ML: 414;
@SCREEN_TP: 768;
@SCREEN_TL: 1024;
@SCREEN_DS: 1260;
@SCREEN_DM: 1420;
@SCREEN_DL: 1600;

// IMG PATH
@img: '/img';

// COLOR
@c: #be84fd; // 190,132,253
@c-link: #EE78C6;
@c-white: #FFF;
@c-black: #000;

@bgc: #242530;
@bgc-black: @c-black;
@bgc-white: @c-white;

// ease 
@ease: cubic-bezier(.4,0,.2,1);

// common
@com-NAME: '';

// popup
@pop-NAME: '';

// options
@opt-NAME: '';
